body {
    margin: 0;

}

.img-logo {

    margin-bottom: 0;


}



.img-logo {
    width: 13%;
    height: 13%;
    margin-top: 0%;


}

.fumaça {
    background-color: rgb(197, 197, 197);
    width: 100%;
}

.aaa {
    width: 100%;

}